/* ========== EXPLORE PAGE STYLING ========== */

.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  padding: 12rem 7rem 5rem;
  margin-top: 4rem;
}

/* ---------- Hero ---------- */

.searchBarContainer {
  width: 100%;
  padding: 1rem 7rem;
  background: var(--base);
  display: flex;
  justify-content: center;

  position: fixed;
  top: 11rem;
  left: 0;
  z-index: 30;
}

.searchBar {
  width: 100%;
  border: 1px solid var(--border-strong);
  border-radius: var(--br-lg);
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.searchBar input {
  width: 100%;
}

.searchIcon {
  color: var(--text-tertiary);
}

.heroContent {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.heroTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.heroContent button {
  padding: 1rem 2rem;
  background: var(--color-primary);
  color: var(--text-on-brand);
  border-radius: var(--br-lg);
  cursor: pointer;
  transition: all 0.3s ease;
}

.heroContent button:hover {
  background: var(--color-primary-hover);
  transform: translateX(6px);
}

/* ---------- Category ---------- */
.categoryBar {
  margin-inline: 7rem;
  background: var(--surface-low);
  border-radius: var(--br-sm);
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.popular {
  font-size: 1.6rem;
  color: var(--text-primary);
  cursor: pointer;
}

/* ---------- Result ---------- */

.resultDisplay {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

/* =============== RESPONSIVENESS =============== */

/* ===== ≤ 768px (Small Tablets/Large Phones) ===== */
@media (max-width: 48rem) {
  /* 768px / 16px = 48rem */

  .pageContainer,
  .searchBarContainer {
    padding-inline: 3rem;
  }

  .heroContent button {
    width: 100%;
  }

  .resultDisplay {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ===== ≤ 576px (Phones) ===== */
@media (max-width: 36rem) {
  /* 576px / 16px = 36rem */

  .pageContainer {
    padding-inline: 2.5rem;
  }

  .resultDisplay {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
