/* ========== HOME PAGE STYLING ========== */

.pageContainer {
  min-height: 100vh;
  padding: 11rem 7rem 5rem;
  display: flex;
  flex-direction: column;
}

main {
  width: 70%;
}

.seoSection {
  width: 100%;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  border-block: 1px solid var(--text-secondary);
  padding-block: 0.5rem;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-primary);
  text-align: center;
}

small {
  color: var(--text-secondary);
  font-size: 1.2rem;
  text-align: center;
}

.mainContent {
  display: flex;
  gap: 3rem;
}

/* ---------- Hero Section ---------- */

.heroSection {
  position: relative;
  width: 100%;
  padding: 2rem;
  border-radius: var(--br-md);
  background: var(--surface-low);
}

.heroSection::before {
  position: absolute;
  content: "";
  inset: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.6);
  border-radius: var(--br-md);
}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: start;
  height: 100%;
  position: relative;
  z-index: 2;
}

.movieDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4rem;
  align-items: start;
  border-radius: var(--br-md);
}

.slider {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sliderTrack {
  display: flex;
  transition: transform 1s ease-in-out;
  height: 100%;
}

.sliderBtnLeft,
.sliderBtnRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 40;

  color: var(--text-primary);
  background: var(--surface-medium);
  padding: 0.4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sliderBtnLeft:hover,
.sliderBtnRight:hover {
  background: var(--surface-high);
}

.sliderBtnLeft {
  left: -30px;
}

.sliderBtnRight {
  right: -30px;
}

.slide {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  min-width: 100%;
}

/* .movieDetail h1{
    text-wrap: wrap;
} */

.trailerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--color-primary);
  color: var(--text-on-brand);
  border-radius: var(--br-lg);
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.trailerBtn:hover {
  background: var(--color-primary-hover);
  transform: translateX(6px);
}

/* ---------- Movie cards Sections ---------- */

.trendingSection,
.topRatedSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.cardGrid {
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
  width: 100%;
  padding-block: 1rem;
}

/* ---------- Aside ---------- */

.sidebar {
  width: 100%;
  height: 200vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background: var(--surface-low);
  border-radius: var(--br-lg);
  overflow-y: scroll;
}

.watchlistContainer {
  padding: 1rem;
}

.watchlist {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.watchlistContainer .closeWatchlist {
  color: var(--text-primary);
  padding: 1rem 3rem;
  border-radius: var(--br-md);
  background: var(--surface-medium);
  cursor: pointer;
  display: none;
}

/* =============== RESPONSIVENESS =============== */

/* ===== ≤ 768px (Small Tablets/Large Phones) ===== */
@media (max-width: 48rem) {
  /* 768px / 16px = 48rem */

  .pageContainer {
    padding-inline: 3rem;
  }

  main {
    width: 100%;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 80%;
    background: var(--base);
    z-index: 50;

    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .watchlistContainer h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  .watchlistContainer .closeWatchlist {
    display: block;
  }
}

/* ===== ≤ 576px (Phones) ===== */
@media (max-width: 36rem) {
  /* 576px / 16px = 36rem */

  .pageContainer {
    padding-inline: 2.5rem;
  }

  .sliderBtnLeft {
    left: -25px;
  }

  .sliderBtnRight {
    right: -25px;
  }

  .trailerBtn {
    width: 100%;
  }
}
