.seoPage {
  min-height: 100vh;
  padding: 15rem 7rem 4rem;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.pageContent h1,
.pageContent .pageDescription {
  text-align: center;
}

a {
  color: var(--color-primary);
}

.movieRecommendations {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.movieGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

/* =============== RESPONSIVENESS =============== */

/* ===== ≤ 768px (Small Tablets/Large Phones) ===== */
@media (max-width: 48rem) {
  /* 768px / 16px = 48rem */

  .seoPage {
    padding-inline: 3rem;
  }

  .movieGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ===== ≤ 576px (Small Phones) ===== */
@media (max-width: 36rem) {
  /* 576px / 16px = 36rem */

  .seoPage {
    padding-inline: 2.5rem;
  }

  .movieGrid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
