.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  padding: 11rem 7rem 5rem;
}

.heroContent {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
}

.heroTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.heroImageContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  width: 100%;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 2rem;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: start;
  padding: 4rem;
  border-radius: var(--br-md);
}

.movieDetail {
  border-radius: var(--br-md);
  width: 100%;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.trailerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: var(--color-primary);
  color: var(--text-on-brand);
  border-radius: var(--br-lg);
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.trailerBtn:hover {
  background: var(--color-primary-hover);
  transform: translateX(6px);
}

.watchlistBtn {
  color: var(--text-primary);
  display: flex;
  align-items: center;
  gap: 1.5rem;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.watchlistBtn:hover {
  transform: translateX(6px);
}

/* ========== GRID SECTION ========== */

.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.moviecardGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

/* =============== RESPONSIVENESS =============== */

/* ===== ≤ 768px (Small Tablets/Large Phones) ===== */
@media (max-width: 48rem) {
  /* 768px / 16px = 48rem */

  .pageContainer {
    padding-inline: 3rem;
  }

  .moviecardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ===== ≤ 576px (Phones) ===== */
@media (max-width: 36rem) {
  /* 576px / 16px = 36rem */

  .pageContainer {
    padding-inline: 2.5rem;
  }

  .gridContainer {
    width: 100%;
  }

  .moviecardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
