/* ========== NAVBAR ========== */

.navbarContainer {
  width: 100%;
  padding: 2rem 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-primary);
  background: var(--base);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.navbarContainer img {
  width: 18rem;
}

.menu {
  display: none;
}

.menuIcon {
  color: var(--text-primary);
}

.menuBtn {
  display: none;
  cursor: pointer;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  font-size: 2rem;
}

.activeLink {
  color: var(--color-primary);
  padding: 1.5rem 0.8rem;
  border-bottom: 2px solid var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}

.inactiveLink {
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.inactiveLink:hover {
  transform: translateY(-6px);
}

.openWatchlistBtn {
  display: none;
}

li {
  list-style: none;
}

.mobileMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--base);
  padding: 2.5rem;
  height: 100vh;
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 5rem;

  transform: translateY(-1500px);
  pointer-events: none;
  transition: all 0.6s ease;
}

.mobileMenu.open {
  transform: translateY(0);
  pointer-events: auto;
}

/* =============== RESPONSIVENESS =============== */

/* ===== ≤ 1024px (Tablets) ===== */
@media (max-width: 64rem) {
  /* 1024px / 16px = 64rem */

  .navbarContainer {
    justify-content: space-between;
    padding-inline: 5rem;
  }

  .menuBtn {
    display: block;
  }
}

/* ===== ≤ 768px (Small Tablets/Large Phones) ===== */
@media (max-width: 48rem) {
  /* 768px / 16px = 48rem */

  .navbarContainer {
    z-index: 40;
    padding-inline: 3rem;
  }

  .navLinks {
    display: none;
  }

  .menu {
    display: block;
  }

  .navItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .activeLink,
  .inactiveLink {
    font-size: 1.4rem;
  }

  .openWatchlistBtn {
    display: block;
    color: var(--text-secondary);
    background: var(--surface-low);
    padding: 1rem 2rem;
    border-radius: var(--br-sm);
    text-align: left;
    margin-top: 10rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .openWatchlistBtn:hover {
    background: var(--surface-medium);
    color: var(--text-primary);
  }
}

/* ===== ≤ 576px (Phones) ===== */
@media (max-width: 36rem) {
  /* 576px / 16px = 36rem */

  .navbarContainer {
    padding-inline: 2.5rem;
  }
}
