* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* (10px/16px) x 100 = 62.5% */
}

body {
  font-family: "Inter";
  background: var(--base);
}

h1 {
  font-size: 4.2rem;
  font-weight: 600;
  color: var(--text-primary);
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-primary);
}

p {
  font-size: 1.5rem;
  color: var(--text-secondary);
}

button {
  background: none;
  border: none;
  font-family: inherit;
}

input {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  color: var(--text-primary);
}

input::placeholder {
  font-family: inherit;
}

select {
  background: none;
  border: none;
  font-size: 1.6rem;
  color: var(--text-primary);
  cursor: pointer;
}

option {
  background: var(--base);
}

label {
  color: var(--text-primary);
  font-size: 1.4rem;
  font-weight: 300;
}

/* =============== RESPONSIVENESS =============== */

/* ===== Base: (Desktop) */
html {
  font-size: 62.5%; /* (10px/16px) x 100 = 62.5% */
}

/* ===== ≤ 1024px (Tablets) ===== */
@media (max-width: 64rem) {
  /* 1024px / 16px = 64rem */

  html {
    font-size: 56.25%; /* (9px/16px) x 100 = 56.25% */
  }
}

/* ===== ≤ 768px (Small Tablets/Large Phones) ===== */
@media (max-width: 48rem) {
  /* 768px / 16px = 48rem */

  html {
    font-size: 50%; /* (8px/16px) x 100 = 50% */
  }
}

/* ===== ≤ 576px (Phones) ===== */
@media (max-width: 36rem) {
  /* 576px / 16px = 36rem */

  html {
    font-size: 43.75%; /* (7px/16px) x 100 = 43.75% */
  }
}
